* {
  margin: 0px;
  padding: 0px;
  color: white;
}

body {
  background-color: #fea600;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 30px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.button-container button {
  font-size: 30px;
  padding: 15px 50px;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #f8c76c;
}
